body {
font-family: "Chalkboard SE";
font-size: 80%;
background-attachment: scroll;
background-image: url("images/background_1.png");
background-repeat:no-repeat;
}

h1 {
color: white;
text-align: center;
font-size: 500%;
}

button {
color: black;
border-style: solid;
border-radius: 20px 20px;
border-color: black;
background-color: transparent;
font-family: "Chalkboard SE";
text-align: center;
font-size: 200%;
margin: auto;
}

.center {
color: white;
border-style: none;
text-align: center;
font-size: 100%;
}

.fontsize{
color: white;
text-align: center;
font-size: 200%;
}

.rounded {
border-radius: 50%;
width: 100px;
height: 100px;
}