.body {
font-family: "Chalkboard SE";
font-size: 80%;
background-image: url("https://img.upanh.tv/2025/01/20/EF6316C9-5834-498E-8A3F-EDC3DF927D29.jpg");
}

.button {
color: white;
border-style: solid;
border-radius: 20px 20px;
border-color: black;
background-color: gray;
font-family: "Chalkboard SE";
text-align: center;
font-size: 200%;
}

.p {
color: white;
border-style: none;
text-align: center;
font-size: 250%;
}